{% extends '@XLabsForum/Admin/layout.html.twig' %}

{% form_theme form '@XLabsForum/Admin/Topic/form_controls.html.twig' %}

{% block xlabs_forum_content %}
    <div class="_xlabs_forum_form">
        <h3>{{ topic.id ? 'Edit' : 'Create' }} topic</h3>
        <span style="color: #FA3E3E;">{{ form_errors(form) }}</span>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {#
    <script>
        function stripHTML(str)
        {
            let strippedText = $('<div />').html(str).text();
            return strippedText;
        }
        $(document).ready(function(e)
        {
            $('form[name="{{ form.vars.id }}"]').on('submit', function(e) {
                if(!$('#xlabs_forumbundle_topictype_preserve_html').is(':checked'))
                {
                    $('#{{ form.body.vars.id }}').val(stripHTML($('#{{ form.body.vars.id }}').val()).replace(/\r\n|\r|\n/g,"<br />"));
                    $('#{{ form.title.vars.id }}').val(stripHTML($('#{{ form.title.vars.id }}').val()).replace(/\r\n|\r|\n/g,"<br />"));
                }
                return true;
            });
        });
    </script>
    #}
{% endblock xlabs_forum_content %}