{% block _xlabs_forumbundle_topictype_cancel_widget %}
    {{ form_widget(form) }}
    <script>
        $('#{{ form.vars.id }}').on('click', function(e){
            e.preventDefault();
            parent.$.fancybox.close();
        });
    </script>
{% endblock _xlabs_forumbundle_topictype_cancel_widget %}