<div id="topics" class="tabcontent">
    <a class="button blue _add" href="{{ path('xlabs_forum_topic_form') }}">Add new topic</a>
    <a class="button _refresh"><i class="fas fa-sync"></i>Refresh</a>
    {% include '@XLabsForum/Admin/search.html.twig' with {
        'contentType': 'topics'
    } %}

    {% include '@XLabsForum/ContentBlock/block.html.twig' with {
        'aParams': {
            'contentType': 'topics',
            'renderMode': 'table',
            'tableHeaders': ['cover', 'topic', 'last post', 'visible / pinned', 'category', 'status', 'posts', ''],
            'tableWidths': ['10%', '20%', '20%', '10%', '10%', '10%', '10%', '10%'],
            'allow_duplicates_in_same_master_request': true,
            'sorting': 'last_update',
            'max_results': 8,
            'page': app.request.get('page') ? app.request.get('page') : 1,
            'aStatus': [
                constant('XLabs\\ForumBundle\\Entity\\Topic::STATUS_APPROVED'),
                constant('XLabs\\ForumBundle\\Entity\\Topic::STATUS_WAITING_FOR_APPROVAL')
            ],
            'creation_date_limit': {
                'min': false,
                'max': false
            },
            'ajax_pagination': true,
            'show_hidden': true,
            'item_template': '@XLabsForum/Admin/Topic/item.html.twig'
        }
    } %}
</div>