<tr data-item-id="{{ item.id }}">
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[0]~';')|raw : '' }}">
        <img src="{{ item.cover ? getCDNResource({
            'media_path': asset(item.cover)
        }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 80px; max-width: 200px;" />
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[1]~';')|raw : '' }}">
        <b>{{ item.title|raw }}</b>
        <br />
        Started by <a class="_item_author_search" data-author-id="{{ item.author.id }}" href="javascript:;" style="font-weight: bold;">{{ item.author.username }}</a>
        <br />
        Created at {{ item.creationdate | date('M jS Y') }} at {{ item.creationdate | date('H:i:s') }}
        {% if item.body %}
            <br /><br />
            {{ item.body|raw }}
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[2]~';')|raw : '' }}">
        {% if item.last_post is defined %}
            <span style="float: left;">
                <img src="{{ item.last_post.author.avatar ? getCDNResource({
                    'media_path': asset(item.last_post.author.avatar)
                }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 50px; border-radius: 50%;" />
            </span>
            <span style="float: left; margin-left: 10px;">
                <br />
                {{ item.last_post.author.username }}
                <br />
                {{ item.last_post.publishdate_human }}
                {#{ item.last_post.publishdate | date('M jS Y') }} at {{ item.last_post.publishdate | date('H:i:s') }#}
            </span>
        {% else %}
            -
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[3]~';')|raw : '' }}">
        {% if item.hidden %}
            <i class="fas fa-times" style="font-size: 1.6em; color: #db3a27;" title="Hidden"></i>
        {% else %}
            <i class="fas fa-check" style="font-size: 1.3em; color: #54944F;" title="Visible"></i>
        {% endif %}
        {% if item.pinned %}
            <i class="fas fa-thumbtack" style="font-size: 1.5em; color: #FFCD42; margin-left: 10px;" title="Visible"></i>
        {% else %}
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[4]~';')|raw : '' }}">
        {{ item.category ? item.category.name : '-' }}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[5]~';')|raw : '' }}">
        {% if item.status == constant('XLabs\\ForumBundle\\Entity\\Topic::STATUS_APPROVED') %}
            <span style="background: #5DB15D; color: #ffffff; padding: 8px 15px;"><i class="fas fa-check" style="margin-right: 5px;"></i>Approved</span>
        {% elseif item.status == constant('XLabs\\ForumBundle\\Entity\\Topic::STATUS_WAITING_FOR_APPROVAL') %}
            <a class="_approve_item" href="{{ path('xlabs_forum_topic_approve', {'topic_id': item.id}) }}" title="Click here to approve">
                <span style="background: #FF7F2A; color: #ffffff; padding: 8px 15px;"><i class="fas fa-ban" style="margin-right: 5px;"></i>Waiting</span>
            </a>
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[6]~';')|raw : '' }}">
        {{ item.total_threads }} threads
        <br />
        {{ item.total_replies }} replies
    </td>
    <td style="text-align: center; {{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[7]~';')|raw : '' }}">
        <a class="_edit" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_topic_form', {'topic_id': item.id}) }}"><i class="far fa-edit"></i></a>
        <a class="_delete" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_topic_delete', {'topic_id': item.id}) }}"><i class="fas fa-times"></i></a>
        {% if item.status == constant('XLabs\\ForumBundle\\Entity\\Topic::STATUS_APPROVED') and not item.hidden %}
            <a class="_view_topic" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_topic_index', {'topic_id': item.id}) }}" target="_blank"><i class="far fa-eye"></i></a>
        {% endif %}
        <br />
        <br />
        <a class="button blue _add_thread_to_topic" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_post_form_for_topic', {'topic_id': item.id}) }}" style="font-size: 1em;">Add thread</a>
    </td>
</tr>