<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLabs Forum</title>

    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">

    <style>
        ._xlabs_results_wrapper ._xlabs_results ._table tr:nth-child(odd) {background: #ffffff;}
        ._xlabs_results_wrapper ._xlabs_results ._table tr:nth-child(even) {background: #ffffff;}
    </style>
    {% block stylesheets %}{% endblock stylesheets %}

    <!--
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script src="{{ asset('bundles/xlabsforum/js/jquery-1.11.2.js') }}"></script>
    <script src="{{ asset('bundles/xlabsforum/js/jquery.preloader/jquery.preloader.js') }}"></script>
    <script src="{{ asset('bundles/xlabsforum/js/fancybox/jquery.fancybox.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/xlabsforum/css/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/xlabsforum/fonts/lato.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/xlabsforum/css/buttons/buttons.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/xlabsforum/fonts/font-awesome/css/all.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/xlabsforum/js/fancybox/jquery.fancybox.css') }}" />

    {% set xlabs_forum_config = getParam('xlabs_forum_config') %}
    {#% if xlabs_forum_config.use_emojis %}
        <link href="{{ asset('bundles/atmemojis/css/emojis.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/atmemojis/css/emojis-sprite.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/atmemojis/js/rangy/core/rangy-core.js') }}"></script>
        <script src="{{ asset('bundles/atmemojis/js/jquery.emojis.js') }}?{{ 'now'|date('U') }}"></script>
    {% endif %#}

    {#% javascripts
        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'
        '@XLabsMMForumBundle/Resources/public/js/jquery-1.11.2.js'
        '@XLabsMMForumBundle/Resources/public/js/jquery.preloader/jquery.preloader.js'
        '@XLabsMMForumBundle/Resources/public/js/fancybox/jquery.fancybox.js'
        filter='?uglifyjs2' output='js/mmf_js.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% stylesheets
        'bundles/xlabsforum/css/styles.css'
        'bundles/xlabsforum/fonts/lato.css'
        'bundles/xlabsforum/css/buttons/buttons.css'
        'bundles/xlabsforum/fonts/font-awesome/css/all.css'
        filter='cssrewrite' filter='?uglifycss' output='css/mmf_styles.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %#}
</head>
<body style="position: relative;">
    {% block xlabs_forum_content %}{% endblock xlabs_forum_content %}

    {% block xlabs_forum_contentJS %}
        {% if xlabs_forum_config.use_emojis %}
            <link href="{{ asset('bundles/xlabsforum/emojione/emojionearea.css') }}" rel="stylesheet">
            <script src="{{ asset('bundles/xlabsforum/emojione/emojionearea.js') }}"></script>
        {% endif %}
    {% endblock xlabs_forum_contentJS %}

    <div class="_xlabs_forum_overlay"></div>
</body>
</html>