{% extends '@XLabsForum/Admin/layout.html.twig' %}

{% form_theme form '@XLabsForum/Admin/Category/form_controls.html.twig' %}

{% block xlabs_forum_content %}
    <div class="_xlabs_forum_form">
        <h3>{{ category.id ? 'Edit' : 'Create' }} category</h3>
        <span style="color: #FA3E3E;">{{ form_errors(form) }}</span>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock xlabs_forum_content %}