<div id="categories" class="tabcontent">
    <a class="button blue _add" href="{{ path('xlabs_forum_category_form') }}">Add new category</a>
    <a class="button _refresh"><i class="fas fa-sync"></i>Refresh</a>
    {% include '@XLabsForum/Admin/search.html.twig' with {
        'contentType': 'categories'
    } %}

    {% include '@XLabsForum/ContentBlock/block.html.twig' with {
        'aParams': {
            'contentType': 'categories',
            'renderMode': 'table',
            'tableHeaders': ['cover', 'name', 'created at', 'visible', 'topics', 'posts', ''],
            'tableWidths': ['10%', '30%', '20%', '10%', '10%', '10%', '10%'],
            'allow_duplicates_in_same_master_request': true,
            'sorting': 'date',
            'max_results': 8,
            'page': app.request.get('page') ? app.request.get('page') : 1,
            'creation_date_limit': {
                'min': false,
                'max': false
            },
            'ajax_pagination': true,
            'show_hidden': true,
            'item_template': '@XLabsForum/Admin/Category/item.html.twig'
        }
    } %}
</div>