<tr data-item-id="{{ item.id }}">
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[0]~';')|raw : '' }}">
        <img src="{{ item.cover ? getCDNResource({
            'media_path': asset(item.cover)
        }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 80px; max-width: 200px;" />
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[1]~';')|raw : '' }}">
        {{ item.name }}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[2]~';')|raw : '' }}">
        {{ item.creationdate | date('M jS Y') }} at {{ item.creationdate | date('H:i:s') }}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[3]~';')|raw : '' }}">
        {% if item.hidden %}
            <i class="fas fa-times" style="font-size: 1.6em; color: #db3a27;"></i>
        {% else %}
            <i class="fas fa-check" style="font-size: 1.3em; color: #54944F;" title="Visible"></i>
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[4]~';')|raw : '' }}">
        {{ item.total_topics }}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[5]~';')|raw : '' }}">
        {{ item.total_threads }} threads
        <br />
        {{ item.total_replies }} replies
    </td>
    <td style="text-align: center; {{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[6]~';')|raw : '' }}">
        <a class="_edit" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_category_form', {'category_id': item.id}) }}"><i class="far fa-edit"></i></a>
        <a class="_delete" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_category_delete', {'category_id': item.id}) }}"><i class="fas fa-times"></i></a>
        <br />
        <br />
        <a class="button blue _add_topic_to_category" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_topic_form_for_category', {'category_id': item.id}) }}" style="font-size: 1em;">Add topic</a>
    </td>
</tr>