{% block xlabs_forum_emoji_textarea_input_row %}
    {% apply spaceless %}
        {% set xlabs_forum_config = getParam('xlabs_forum_config') %}
        {% if xlabs_forum_config.use_emojis %}
            <div style="position: relative; /*margin-top: 100px;*/">
                {{ form_label(form) }}
                {{ form_widget(form, {
                    'attr': {
                        'style': 'display: none;'
                    }
                }) }}
                <div class="_content_container" id="{{ form.vars.id }}_content_container" style="width: 500px; margin: 0 auto;"></div>
            </div>

            <script>
                $(document).ready(function(){
                    $('#{{ form.vars.id }}').emojioneArea({
                        autocomplete: false, // avoid JS error about a 3rd party useless library used by the plugin
                        pickerPosition: 'bottom',
                        container: '#{{ form.vars.id }}_content_container',
                        hideSource: false,
                        useSprite: true
                    });
                    $('#{{ form.vars.id }}').on('invalid', function(e){
                        $('#{{ form.vars.id }}_content_container .emojionearea').addClass('content-invalid');
                    });
                    $('#{{ form.vars.id }}').on('blur', function(e){
                        let input = $(this);
                        let isValid = input.get(0).checkValidity();
                        if(isValid)
                        {
                            $('#{{ form.vars.id }}_content_container .emojionearea').removeClass('content-invalid');
                        }
                    });
                });
            </script>
        {% else %}
            {{ form_label(form) }}
            {{ form_widget(form) }}
        {% endif %}
    {% endapply %}
{% endblock %}