{% block xlabs_forum_single_image_upload_row %}
    {% set _form_control_id = random(100000) %}
    {% apply spaceless %}
        {% set current_value = form[form.vars.name].vars.data ? form[form.vars.name].vars.data : false %}
        {% set current_preview = current_value ? asset(current_value) : asset('bundles/xlabsforum/images/default_image.jpg') %}
        {{ form_label(form) }}
        <div id="{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }}" class="_single_image_upload_wrapper">
            {{ form_widget(form[form.vars.name]) }}
            <div style="display: block; width: 0; height: 0; overflow: hidden;">
                {{ form_widget(form[form.vars.name~'_file']) }}
            </div>
            <div class="_single_image_upload_preview_wrapper">
                <img class="_single_image_upload_preview" src="{{ current_preview }}" />
                <a class="_single_image_upload_delete" href="javascript:;" style="display: {{ current_value ? 'inline-block' : 'none' }};" title="Remove image"><i class="fas fa-times-circle"></i></a>
            </div>
            <div class="_single_image_upload_buttons_wrapper">
                <a class="_single_image_upload_change button" href="javascript:;">{{ current_value ? 'Change image' : 'Select image' }}</a>
                {% if current_value %}
                    <a class="_single_image_upload_restore button" href="javascript:;">Restore</a>
                {% endif %}
            </div>
        </div>
        <script>
            // Check required status
            {% if current_value and form[form.vars.name~'_file'].vars.required %}
            $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }} input#{{ form[form.vars.name~'_file'].vars.id }}').prop('required', false);
            {% endif %}

            $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }}').on('click', '._single_image_upload_change', function(e){
                e.preventDefault();
                $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }} input#{{ form[form.vars.name~'_file'].vars.id }}').click();
            });
            $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }}').on('click', '._single_image_upload_delete', function(e){
                e.preventDefault();
                let input = $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }} input#{{ form[form.vars.name~'_file'].vars.id }}');
                let deleteBut = $(this);
                let selectBut = deleteBut.closest('._single_image_upload_wrapper').find('._single_image_upload_change');
                input.val(null);
                //input.replaceWith(input.val('').clone(true));
                $('#{{ form[form.vars.name].vars.id }}').val(''); // for the listener
                deleteBut.closest('._single_image_upload_wrapper').find('._single_image_upload_preview').attr('src', '{{ asset('bundles/xlabsforum/images/default_image.jpg') }}').show();
                // change button text
                selectBut.text('Attach image');
                deleteBut.hide();
                // Check required status
                {% if form[form.vars.name~'_file'].vars.required %}
                    input.prop('required', true);
                {% endif %}
            });
            $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }}').on('click', '._single_image_upload_restore', function(e){
                e.preventDefault();
                let input = $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }} input#{{ form[form.vars.name~'_file'].vars.id }}');
                let restoreBut = $(this);
                input.val(null);
                $('#{{ form[form.vars.name].vars.id }}').val('{{ current_value }}'); // field remains unchanged in the listener
                restoreBut.closest('._single_image_upload_wrapper').find('._single_image_upload_preview').attr('src', '{{ current_preview }}').show();
                // Check required status
                {% if current_value and form[form.vars.name~'_file'].vars.required %}
                    input.prop('required', false);
                {% endif %}
            });
            $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }} input#{{ form[form.vars.name~'_file'].vars.id }}').on('change', function(e){
                let input = $(this);
                let selectBut = input.closest('._single_image_upload_wrapper').find('._single_image_upload_change');
                let deleteBut = input.closest('._single_image_upload_wrapper').find('._single_image_upload_delete');
                let restoreBut = input.closest('._single_image_upload_wrapper').find('._single_image_upload_restore');
                let filereader  = new FileReader();
                let file = e.target.files[0];
                filereader.onload = function(){
                    let tester = new Image();
                    tester.onload = function(){
                        input.closest('._single_image_upload_wrapper').find('._single_image_upload_preview').attr('src', filereader.result).show();
                        // change button text
                        selectBut.text('Replace');
                        deleteBut.show();
                    };
                    tester.onerror = function(){
                        // flash form control (visual fx)
                        $('#{{ form.vars.name }}_single_image_upload_wrapper_{{ _form_control_id }} ._single_image_upload_preview_wrapper').fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                        // reset image
                        {% if current_value %}
                            restoreBut.click();
                        {% else %}
                            deleteBut.click();
                        {% endif %}

                        // change button text
                        selectBut.text('{{ current_value ? 'Replace' : 'Attach image' }}');
                    };
                    tester.src = filereader.result;
                };
                filereader.onerror = function(){

                };
                if(file){
                    filereader.readAsDataURL(file);
                }
            });
        </script>
    {% endapply %}
{% endblock %}