<link rel="stylesheet" href="buttons.css" />


<div class="centered">
    <button class="small button">Button</button>
    <button class="small red button">Button</button>
    <button class="small green button">Button</button>
    <button class="small blue button">Button</button>

    <br><br>

    <button class="small button" disabled>Button</button>
    <button class="small red button" disabled>Button</button>
    <button class="small green button" disabled>Button</button>
    <button class="small blue button" disabled>Button</button>

    <br><br>

    <ul class="button-group">
        <li><button class="small button">Button</button></li>
        <li><button class="small button">Button</button></li>
        <li><button class="small button">Button</button></li>
        <li><button class="small button">Button</button></li>
    </ul>

    <br><br><br><br>

    <button class="button">Button</button>
    <button class="red button">Button</button>
    <button class="green button">Button</button>
    <button class="blue button">Button</button>

    <br><br>

    <button class="button" disabled>Button</button>
    <button class="red button" disabled>Button</button>
    <button class="green button" disabled>Button</button>
    <button class="blue button" disabled>Button</button>

    <br><br>

    <ul class="button-group">
        <li><button class="button">Button</button></li>
        <li><button class="button">Button</button></li>
        <li><button class="button">Button</button></li>
        <li><button class="button">Button</button></li>
    </ul>

    <br><br><br><br>

    <button class="large button">Button</button>
    <button class="large red button">Button</button>
    <button class="large green button">Button</button>
    <button class="large blue button">Button</button>

    <br><br>

    <button class="large button" disabled>Button</button>
    <button class="large red button" disabled>Button</button>
    <button class="large green button" disabled>Button</button>
    <button class="large blue button" disabled>Button</button>

    <br><br>

    <ul class="button-group">
        <li><button class="large button">Button</button></li>
        <li><button class="large button">Button</button></li>
        <li><button class="large button">Button</button></li>
        <li><button class="large button">Button</button></li>
    </ul>

    <br><br>

    <ul class="button-group">
        <li><button class="large red button">Button</button></li>
        <li><button class="large red button">Button</button></li>
        <li><button class="large red button">Button</button></li>
        <li><button class="large red button">Button</button></li>
    </ul>
</div>

