{% extends '@XLabsForum/Admin/layout.html.twig' %}

{% block xlabs_forum_content %}
    <div class="tab">
        <button class="tablink" data-id="categories">Categories</button>
        <button class="tablink" data-id="topics">Topics</button>
        <button class="tablink" data-id="threads">Threads</button>
        <button class="tablink" data-id="replies">Replies</button>
    </div>

    {% include '@XLabsForum/Admin/Category/index.html.twig' %}
    {% include '@XLabsForum/Admin/Topic/index.html.twig' %}
    {% include '@XLabsForum/Admin/Post/index.html.twig' with {
        'post_type': 'thread'
    } %}
    {% include '@XLabsForum/Admin/Post/index.html.twig' with {
        'post_type': 'reply'
    } %}

    <script>
        // Tabs
        $('.tab .tablink').on('click', function(e){
            e.preventDefault();
            let but = $(this);
            $('.tab .tablink').removeClass('active');
            $('.tabcontent').hide();
            $('.tabcontent#' + but.attr('data-id')).show();
            but.addClass('active');

            // Track current tab
            document.location.hash = but.attr('data-id');
            window.scroll(0, 0);
        });

        // Default tab opened; if there´s a hash on load, fire it
        let init_hash = window.location.hash ? window.location.hash : '#topics';
        init_hash = init_hash.replace('#', '');
        $('.tab .tablink[data-id="'+init_hash+'"]').click();

        // After CRUD operation on any contentType, reset/reload content containers
        function updateAllContentTypes(contentType, reload = false)
        {
            let aContentTypes = ['categories', 'topics', 'threads', 'replies']; // container ids
            aContentTypes.splice($.inArray(contentType, aContentTypes),1);
            reload ? reloadResults(contentType) : resetResults(contentType);;
            $.each(aContentTypes, function(i, v){
                reloadResults(v);
            });
        }

        $(document).ready(function(){
            // automatically scroll top on page load
            window.onload = function(){
                window.scroll(0, 0);
            };

            // Add/Edit item
            $('.tabcontent ._add, .tabcontent ._edit').fancybox({
                type: 'iframe',
                //width: 800,
                height: 'auto',
                closeClick: false, // prevents closing when clicking INSIDE fancybox
                helpers: {
                    overlay: {closeClick: false} // prevents closing when clicking OUTSIDE fancybox
                },
                afterClose: function(instance){
                    let elem = instance.element;
                    let item_id = elem.attr('data-item-id');
                    let contentType = elem.closest('.tabcontent').attr('id');
                    updateAllContentTypes(contentType);
                    // with code below, it would refresh only the current content container
                    /*if(item_id) // edit item
                    {
                        let url = false;
                        switch(contentType)
                        {
                            case 'categories':
                                url = Routing.generate('xlabs_forum_category_reload', { 'category_id': item_id });
                                break;
                            case 'topics':
                                url = Routing.generate('xlabs_forum_topic_reload', { 'topic_id': item_id });
                                break;
                            case 'posts':
                                url = Routing.generate('xlabs_forum_post_reload', { 'post_id': item_id });
                                break;
                        }
                        if(url)
                        {
                            $.ajax({
                                url: url,
                                type: 'post',
                                success: function(response){
                                    $('.tabcontent#'+contentType+' tr[data-item-id="'+item_id+'"]').replaceWith(response);
                                }
                            });
                        }
                    } else { // new item
                        resetResults(contentType);
                    }*/
                }
            });

            // Add topic to category / Add post to topic
            $('.tabcontent ._add_topic_to_category, .tabcontent ._add_thread_to_topic, .tabcontent ._add_reply_to_thread, .tabcontent ._create_quoted_post').fancybox({
                type: 'iframe',
                //width: 1200,
                height: 'auto',
                closeClick: false, // prevents closing when clicking INSIDE fancybox
                helpers: {
                    overlay: {closeClick: false} // prevents closing when clicking OUTSIDE fancybox
                },
                afterClose: function(instance){
                    let elem = instance.element;
                    let item_id = elem.attr('data-item-id');
                    let contentType = elem.closest('.tabcontent').attr('id');
                    updateAllContentTypes(contentType);
                }
            });

            // Delete item
            $('.tabcontent').on('click', '._delete', function(e){
                e.preventDefault();
                let item = $(this);
                let item_id = item.attr('data-item-id');
                let contentType = item.closest('.tabcontent').attr('id');
                if(confirm('Are you sure you want to delete this item?'))
                {
                    let url = false;
                    switch(contentType)
                    {
                        case 'categories':
                            url = Routing.generate('xlabs_forum_category_delete', { 'category_id': item_id });
                            break;
                        case 'topics':
                            url = Routing.generate('xlabs_forum_topic_delete', { 'topic_id': item_id });
                            break;
                        case 'threads':
                        case 'replies':
                        case 'posts':
                            url = Routing.generate('xlabs_forum_post_delete', { 'post_id': item_id });
                            break;
                    }
                    if(url)
                    {
                        $.ajax({
                            url: url,
                            type: 'post',
                            success: function(response){
                                updateAllContentTypes(contentType, true);
                                //reloadResults(contentType);
                            }
                        });
                    }
                }
            });

            // Approve item
            $('.tabcontent').on('click', '._approve_item', function(e){
                e.preventDefault();
                let item = $(this);
                //let item_id = item.attr('data-item-id');
                let contentType = item.closest('.tabcontent').attr('id');
                if(confirm('Are you sure you want to approve this item?'))
                {
                    let url = item.attr('href');
                    $.ajax({
                        url: url,
                        type: 'post',
                        success: function(response){
                            reloadResults(contentType);
                        }
                    });
                }
            });

            // Refresh results (reset)
            $('.tabcontent').on('click', '._refresh', function(e){
                e.preventDefault();
                let item = $(this);
                let contentType = item.closest('.tabcontent').attr('id');
                resetResults(contentType);
            });
        });

        function reloadResults(contentType)
        {
            // preserve current params (for when approving an item)
            let aParams_container = $('.tabcontent#'+contentType+' ._xlabs_results_wrapper');
            let aParams = JSON.parse(aParams_container.attr('data-ajax-params'));
            updateContentBlockResults(aParams_container, aParams);
        }

        function resetResults(contentType)
        {
            // grab from attribute original params (for when adding new element)
            let aParams_container = $('.tabcontent#'+contentType+' ._xlabs_results_wrapper');
            let aParams = JSON.parse(aParams_container.attr('data-original-params'));
            resetFilters(contentType);
            updateContentBlockResults(aParams_container, aParams);
        }

        function resetFilters(contentType)
        {
            let search_wrapper = $('.tabcontent#'+contentType+' ._search_by_author');
            search_wrapper.find('span').text('');
            search_wrapper.hide();
            $('.tabcontent#'+contentType+'  ._search_terms').val('');
            $('.tabcontent#'+contentType+'  ._approval_status[value=""]').prop("checked", true);
        }

        // SEARCH RELATED
        $(document).ready(function(){
            // Search by title/body
            $('.tabcontent ._search_terms').each(function(i, v){
                let input = $(v);
                input.data({
                    typingTimer: false,
                    doneTypingInterval: 400
                });
                input.on('keyup', function(){
                    let aParams_container = input.closest('.tabcontent').find('._xlabs_results_wrapper');
                    let aParams = JSON.parse(aParams_container.attr('data-ajax-params'));
                    let search_terms = input.val();
                    if(search_terms.length >= 3)
                    {
                        clearTimeout(input.data('typingTimer'));
                        input.data('typingTimer', setTimeout(function(){
                            aParams.page = 1;
                            aParams.containing_str = input.val();
                            if(!aParams.containing_str.length)
                            {
                                delete aParams['containing_str'];
                            }
                            updateContentBlockResults(aParams_container, aParams);
                        }, input.data('doneTypingInterval')));
                    } else {
                        if(!search_terms.length)
                        {
                            aParams.page = 1;
                            delete aParams['containing_str'];
                            updateContentBlockResults(aParams_container, aParams);
                        }
                    }
                }).on('keydown', function(){});
            });

            // Search by author
            $('body').on('click', '._item_author_search', function(e){
                e.preventDefault();
                let but = $(this);
                let author_id = but.attr('data-author-id');
                let aParams_container = but.closest('.tabcontent').find('._xlabs_results_wrapper');
                let aParams = JSON.parse(aParams_container.attr('data-ajax-params'));
                aParams.author_ids = [author_id];
                aParams.page = 1;
                updateContentBlockResults(aParams_container, aParams);

                let search_wrapper = but.closest('.tabcontent').find('._search_by_author');
                search_wrapper.find('span').text(but.text());
                search_wrapper.show();
            });
            $('body').on('click', '._cancel_search_by_author', function(e){
                e.preventDefault();
                let but = $(this);
                let aParams_container = but.closest('.tabcontent').find('._xlabs_results_wrapper');
                let aParams = JSON.parse(aParams_container.attr('data-ajax-params'));
                aParams.author_ids = false;
                updateContentBlockResults(aParams_container, aParams);

                let search_wrapper = but.closest('.tabcontent').find('._search_by_author');
                search_wrapper.find('span').text('');
                search_wrapper.hide();
            });

            // Approval status
            $('body').on('click', '._approval_status', function(e){
                //e.preventDefault();
                let but = $(this);
                let approval_status = but.val();
                let aParams_container = but.closest('.tabcontent').find('._xlabs_results_wrapper');
                let aParams = JSON.parse(aParams_container.attr('data-ajax-params'));
                //but.closest('fieldset').find('._approval_status').prop('checked', true);
                //but.prop('checked', true);
                switch(approval_status)
                {
                    case '':
                        delete(aParams['aStatus']);
                        break;
                    default:
                        aParams['aStatus'] = [approval_status];
                        break;
                }
                aParams.page = 1;
                updateContentBlockResults(aParams_container, aParams);
            });

            // Check if default approval status comes set (approval urls)
            {% set statusParam = app.request.query.get('status') %}
            {% if statusParam in [constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED'), constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_WAITING_FOR_APPROVAL')] %}
                $('.tabcontent#' + init_hash + ' ._approval_status[value="{{ statusParam }}"]').click();
            {% endif %}
        });

        /****************************************************************************************/
        /*                         END Content block common JS                                  */
        /****************************************************************************************/
    </script>
{% endblock xlabs_forum_content %}