<div class="_search_wrapper">
    {% if contentType in ['topics', 'posts'] %}
        <fieldset class="_search_by_author" style="float: left; display: none;">
            <legend>Search by author</legend>
            <span></span>
            <a class="_cancel_search_by_author" href="javascript:;" style="font-size: 1.8em; margin-left: 10px;"><i class="fas fa-times" style="color: #FA3E3E;"></i></a>
        </fieldset>
        <fieldset style="float: left;">
            <legend>Approval status</legend>
            {% set random_name = random() %}
            <div style="float: left; margin: 0 8px;"><input type="radio" class="_approval_status" name="_approval_status_{{ random_name }}" id="_approval_status_{{ random_name }}_1" value="" checked /> <label for="_approval_status_{{ random_name }}_1">All</label></div>
            <div style="float: left; margin: 0 8px;"><input type="radio" class="_approval_status" name="_approval_status_{{ random_name }}" id="_approval_status_{{ random_name }}_2" value="{{ constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED') }}" /> <label for="_approval_status_{{ random_name }}_2">Approved</label></div>
            <div style="float: left; margin: 0 8px;"><input type="radio" class="_approval_status" name="_approval_status_{{ random_name }}" id="_approval_status_{{ random_name }}_3" value="{{ constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_WAITING_FOR_APPROVAL') }}" /> <label for="_approval_status_{{ random_name }}_3">Waiting for approval</label></div>
        </fieldset>
    {% endif %}
    <fieldset style="float: left;">
        <legend>Search by title/body</legend>
        <i class="fas fa-search"></i><input type="text" class="_search_terms" placeholder="(3 chars. min)" />
    </fieldset>
</div>