{% if post_type == 'thread' %}
    {% set div_id = 'threads' %}
    {% set tableHeaders = ['topic / category', 'thread', '', 'replies', 'visible', 'status', ''] %}
    {% set tableWidths = ['10%', '50%', '0%', '10%', '10%', '10%', '10%'] %}
    {% set sorting = 'thread_last_update' %}
{% elseif post_type == 'reply' %}
    {% set div_id = 'replies' %}
    {% set tableHeaders = ['topic / category', 'reply', 'thread', '', 'visible', 'status', ''] %}
    {% set tableWidths = ['10%', '30%', '30%', '0%', '10%', '10%', '10%'] %}
    {% set sorting = 'date' %}
{% else %}
    {% set div_id = 'posts' %}
    {% set tableHeaders = ['topic / category', 'post', 'in reply to', 'replies', 'visible', 'status', ''] %}
    {% set tableWidths = ['10%', '25%', '25%', '10%', '10%', '10%', '10%'] %}
    {% set sorting = 'date' %}
{% endif %}
<div id="{{ div_id }}" class="tabcontent">
    {% if post_type is not defined or post_type == 'thread' %}
        <a class="button blue _add" href="{{ path('xlabs_forum_post_form') }}">Add new thread</a>
    {% endif %}
    <a class="button _refresh"><i class="fas fa-sync"></i>Refresh</a>
    {% include '@XLabsForum/Admin/search.html.twig' with {
        'contentType': 'posts'
    } %}

    {% include '@XLabsForum/ContentBlock/block.html.twig' with {
        'aParams': {
            'contentType': 'posts',
            'renderMode': 'table',
            'tableHeaders': tableHeaders,
            'tableWidths': tableWidths,
            'allow_duplicates_in_same_master_request': true,
            'sorting': sorting,
            'max_results': 8,
            'page': app.request.get('page') ? app.request.get('page') : 1,
            'aStatus': [
                constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED'),
                constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_WAITING_FOR_APPROVAL')
            ],
            'publish_date_limit': {
                'min': false,
                'max': false
            },
            'creation_date_limit': {
                'min': false,
                'max': false
            },
            'threads_only': post_type == 'thread' ? true : false,
            'replies_only': post_type == 'reply' ? true : false,
            'ajax_pagination': true,
            'show_hidden': true,
            'item_template': '@XLabsForum/Admin/Post/item.html.twig'
        }
    } %}
</div>