<tr data-item-id="{{ item.id }}">
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[0]~';')|raw : '' }}">
        {{ item.topic ? item.topic.title : '-' }}
        <br />
        {{ item.topic and item.topic.category ? item.topic.category.name : '(no category)' }}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[1]~';')|raw : '' }}; vertical-align: top;">
        <span style="float: left;">
            <img src="{{ item.author.avatar ? getCDNResource({
                'media_path': asset(item.author.avatar)
            }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 50px; border-radius: 50%;" />
        </span>
        <span style="float: left; margin-left: 10px;">
            <br />
            <a class="_item_author_search" data-author-id="{{ item.author.id }}" href="javascript:;" style="font-weight: bold;">{{ item.author.username }}</a> - {{ item.creationdate_human }}:
            {#{ item.creationdate | date('M jS Y') }} at {{ item.creationdate | date('H:i:s') }#}
        </span>
        <div style="clear: both; float: none;"></div>
        <span style="clear: both; float: none;">
            {% if item.quoted %}
                {% include '@XLabsForum/Forum/Post/quoted.html.twig' with {
                    'post': item.quoted
                } %}
                <br />
            {% endif %}
            {% if item.title %}
                <b>{{ item.title|raw }}</b>
                <br />
            {% endif %}
            {% if item.image %}
                <img src="{{ item.image ? getCDNResource({
                    'media_path': asset(item.image)
                }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 80px; max-width: 200px;" />
                <br />
            {% endif %}
            {{ item.body|raw }}
            {#{ item.last_post.publishdate | date('M jS Y') }} at {{ item.last_post.publishdate | date('H:i:s') }#}
        </span>
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[2]~';')|raw : '' }}; vertical-align: top;">
        {% if item.thread %}
            <span style="float: left;">
                <img src="{{ item.thread.author.avatar ? getCDNResource({
                    'media_path': asset(item.thread.author.avatar)
                }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 50px; border-radius: 50%;" />
            </span>
            <span style="float: left; margin-left: 10px;">
                <br />
                <b>{{ item.thread.author.username }}</b>:
                {#{ item.creationdate | date('M jS Y') }} at {{ item.creationdate | date('H:i:s') }#}
                <br />
                <br />
                {% if item.thread.title %}
                    <b>{{ item.thread.title|raw }}</b>
                    <br />
                {% endif %}
                {% if item.thread.image %}
                    <img src="{{ item.thread.image ? getCDNResource({
                        'media_path': asset(item.thread.image)
                    }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 80px; max-width: 200px;" />
                    <br />
                {% endif %}
                {{ item.thread.body|raw }}
            </span>
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[3]~';')|raw : '' }}">
        {% if not item.thread %}
            {{ item.total_replies }}
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[4]~';')|raw : '' }}">
        {% if item.hidden %}
            <i class="fas fa-times" style="font-size: 1.6em; color: #db3a27;" title="Hidden"></i>
        {% else %}
            <i class="fas fa-check" style="font-size: 1.3em; color: #54944F;" title="Visible"></i>
        {% endif %}
    </td>
    <td style="{{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[5]~';')|raw : '' }}">
        {% if item.status == constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED') %}
            <span style="background: #5DB15D; color: #ffffff; padding: 8px 15px;"><i class="fas fa-check" style="margin-right: 5px;"></i>Approved</span>
        {% elseif item.status == constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_WAITING_FOR_APPROVAL') %}
            <a class="_approve_item" href="{{ path('xlabs_forum_post_approve', {'post_id': item.id}) }}" title="Click here to approve">
                <span style="background: #FF7F2A; color: #ffffff; padding: 8px 15px;"><i class="fas fa-ban" style="margin-right: 5px;"></i>Waiting</span>
            </a>
        {% endif %}
    </td>
    <td style="text-align: center; {{ aParams.tableWidths is defined ? ('width: '~aParams.tableWidths[6]~';')|raw : '' }}">
        <a class="_edit" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_post_form', {'post_id': item.id}) }}"><i class="far fa-edit"></i></a>
        <a class="_delete" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_post_delete', {'post_id': item.id}) }}"><i class="fas fa-times"></i></a>
        {% if item.status == constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED') and not item.hidden %}
            <a class="_view_topic" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_thread_index', {'thread_id': (item.thread ? item.thread.id : item.id)}) }}" target="_blank"><i class="far fa-eye"></i></a>
        {% endif %}
        <br />
        <br />
        {% if not item.thread %}
            <a class="button blue _add_reply_to_thread" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_post_form_for_thread', {'thread_id': item.id}) }}" style="font-size: 1em;">Add reply</a>
            <br />
            <br />
        {% endif %}
        <a class="button blue _create_quoted_post" data-item-id="{{ item.id }}" href="{{ path('xlabs_forum_post_form_quote_post', {'quoted_id': item.id}) }}" style="font-size: 1em;">Add quote</a>
    </td>
</tr>