{% set aParams = aParams is defined ? aParams : {} %}
{% if aParams.results_template is not  defined %}
    {% set aParams = aParams|merge({'results_template': '@XLabsForum/ContentBlock/results.html.twig'}) %}
{% endif %}
{% if aParams.pagination_template is not  defined %}
    {% set aParams = aParams|merge({'pagination_template': '@XLabsForum/ContentBlock/pagination.html.twig'}) %}
{% endif %}
{% if aParams.container_id is not defined %}
    {% set aParams = aParams|merge({'container_id': random()}) %}
{% endif %}
{% if aParams.ajax_pagination is defined %}
    {% set aParams = aParams|merge({'show_pagination': true}) %}
{% endif %}
{% set aParams = aParams.container_id is defined ? aParams|merge({'container_id': aParams.container_id}) : aParams|merge({'container_id': random()}) %}

<div class="_xlabs_results_wrapper" data-container-id="{{ aParams.container_id }}" data-ajax-path="{{ path('xlabs_forum_admin_load_results') }}" data-ajax-params="{{ aParams|json_encode() }}" data-original-params="{{ aParams|json_encode() }}">
    <div class="_xlabs_results">
        {{ render(controller('XLabsForumBundle:ForumAdmin:renderResults', {
            'aParams': aParams
        })) }}
    </div>
</div>

<script>
    {% if aParams.ajax_pagination is defined and aParams.ajax_pagination %}
        // Pagination buttons
        $('[data-container-id="{{ aParams.container_id }}"] ._xlabs_results').on('click', '.pageBtn', function(e){
            e.preventDefault();
            let btn = $(this);
            let aParams_container = $('[data-container-id="{{ aParams.container_id }}"]');
            let aParams = JSON.parse(aParams_container.attr('data-ajax-params'));

            aParams.page = btn.attr('data-page');
            updateContentBlockResults(aParams_container, aParams);
        });

        /*function findContent()
        {
            // create form and submit it to send post parameters
            let aParams_container = $('[data-container-id="{{ aParams.container_id }}"]');
            let aParams = JSON.parse(aParams_container.attr('data-ajax-params'));
            let form = $('<form />');
            //if(!href)
            //{
            //    href = getCleanURI();
            //    if(aParams.search_terms)
            //    {
            //        href += '?s=' + aParams.search_terms;
            //    }
            //}
            form.attr({
                action: href,
                method: 'post',
                enctype: 'multipart/form-data'
            }).css('display', 'none');
            $('body').append(form);
            //let form_data = new FormData(form.get(0));
            //form_data.append('aParams', JSON.stringify(aParams));
            form.append($('<input/>', {
                type: 'hidden',
                name: 'aParams',
                value: JSON.stringify(aParams)
            }));
            form.submit();
        }*/
    {% endif %}
</script>