{% if pageCount > 1 %}
    <div class="paginationArea">
        <div class="left">
            {% if first is defined and current != first %}
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" data-page="{{ first }}" class="pageBtn" title="first"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></a>
            {% endif %}

            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" data-page="{{ previous }}" class="pageBtn" title="previous"><i class="fas fa-chevron-left"></i></a>
            {% endif %}
        </div>
        <div class="center">
            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" data-page="{{ page }}" class="pageBtn" title="Go to {{ page }}">{{ page }}</a>
                {% else %}
                    <a class="highlight">{{ page }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="right">
            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" data-page="{{ next }}" class="pageBtn" title="next"><i class="fas fa-chevron-right"></i></a>
            {% endif %}

            {% if last is defined and current != last %}
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" data-page="{{ last }}" class="pageBtn" title="last"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></a>
            {% endif %}
        </div>
    </div>
{% endif %}