{% if aParams.search_terms is defined and aParams.search_terms and aParams.page == 1 %}
    <div class="search_filters">
        <span>Search results for: </span><b>{{ aParams.search_terms }}</b>
    </div>
{% endif %}

{% if aParams.double_pagination is defined and aParams.double_pagination %}
    {% if pagination %}
        {% if aParams.show_pagination is defined and aParams.show_pagination %}
            <div class="_pagination" style="{{ aParams.infinite_scroll is defined and aParams.infinite_scroll ? 'display: none;' : '' }}">
                {{ knp_pagination_render(pagination, aParams.pagination_template) }}
            </div>
        {% endif %}
    {% endif %}
{% endif %}

{% if results|length %}
    {% if aParams.renderMode is defined and aParams.renderMode == 'table' %}
        <table class="_table">
            {% if aParams.tableHeaders is defined %}
                <tr>
                    {% for tableHeader in aParams.tableHeaders %}
                        {% set colWidth = aParams.tableWidths is defined ? aParams.tableWidths[loop.index0] : '' %}
                        <th {{ colWidth ? ('style="width: '~colWidth~'"')|raw : '' }}>{{ tableHeader|capitalize }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            {% for result in results %}
                {% include aParams.item_template with {
                    'item': result,
                    'aParams': aParams
                } %}
            {% endfor %}
        </table>
    {% else %}
        <div class="_forum_{{ aParams.contentType }}">
            {% for result in results %}
                <div class="_forum_{{ aParams.contentType }}_item">
                    {% include aParams.item_template with {
                        'item': result,
                        'aParams': aParams
                    } %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    {% if aParams.remove_block_if_no_results is defined and aParams.remove_block_if_no_results %}
        {% if aParams.container_id is defined and aParams.container_id %}
            <script>
                $('div[data-container-id="{{ aParams.container_id }}"]').remove();
            </script>
        {% endif %}
    {% elseif aParams.hide_block_if_no_results is defined and aParams.hide_block_if_no_results %}
        {% if aParams.container_id is defined and aParams.container_id %}
            <script>
                $('div[data-container-id="{{ aParams.container_id }}"]').hide();
            </script>
        {% endif %}
    {% elseif aParams.page == 1 %}
        {% if aParams.no_results_template is defined and aParams.no_results_template %}
            {% include aParams.no_results_template %}
        {% else %}
            <div class="_noContent">
                {#<span>No results to show ;(</span>#}
                <img src="{{ asset('bundles/xlabsforum/images/no_results_found.webp') }}" style="opacity: .8;" />
            </div>
        {% endif %}
    {% endif %}
{% endif %}

{% if pagination %}
    {% if aParams.show_pagination is defined and aParams.show_pagination %}
        <div class="_pagination" style="{{ aParams.infinite_scroll is defined and aParams.infinite_scroll ? 'display: none;' : '' }}">
            {{ knp_pagination_render(pagination, aParams.pagination_template) }}
        </div>
    {% endif %}
{% endif %}
