{% form_theme form '@XLabsForum/Forum/Post/form_controls.html.twig' %}

<div class="_xlabs_forum_form">
    <h3>{{ form.vars.data.thread ? (form.vars.data.quoted ? 'Post quote reply' : 'Post reply') : 'New thread' }}</h3>
    <div style="/*overflow: hidden;*/">
        <span style="color: #FA3E3E;">{{ form_errors(form) }}</span>
        {{ form_start(form) }}
        {% set quoted = form.vars.data.quoted %}
        {% if quoted %}
            <div style="float: none; clear: both; width: 100%;">
                {% include '@XLabsForum/Forum/Post/quoted.html.twig' with {
                    'post': quoted
                } %}
                <br />
            </div>
        {% endif %}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>