{#
<span style="float: left;">
    <img src="{{ post.author.avatar ? getCDNResource({
        'media_path': asset(post.author.avatar)
    }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 70px; border-radius: 50%;" />
</span>
<div style="clear: both; float: none;"></div>
<span style="">
    {{ post.author.username }}
    <br />
    Join date: {{ post.author.joindate | date('M Y') }}
    <br />
    Posts: {{ post.author.total_posts }}
</span>
#}

<div class="_xlabs_forum_post_user" style="">
    {% block avatar %}
        <div class="_avatar">
            <img src="{{ post.author.avatar ? getCDNResource({
                'media_path': asset(post.author.avatar)
            }) : asset('bundles/xlabsforum/images/default_image.png') }}" />
        </div>
    {% endblock avatar %}
    {% block username %}
        <span class="_username">
            {{ post.author.username }}
        </span>
    {% endblock username %}
    {% block info %}
        <div class="_info">
            <dl>
                <dt>Join date:</dt>
                <dd>{{ post.author.joindate ? (post.author.joindate | date('M Y')) : '-' }}</dd>
            </dl>
            <dl>
                <dt>Posts:</dt>
                <dd>{{ post.author.total_posts }}</dd>
            </dl>
            <br />
        </div>
    {% endblock info %}
    {% block arrow %}
        <span class="_arrow"></span>
    {% endblock arrow %}
</div>