<div style="margin: 20px 100px;">
    Quote:
    <br />
    <div style="border-left: 2px solid #E6EBF2; background: rgba(157, 177, 186, .2); padding: 8px 10px;">
        <b>Author: </b>{{ post.author.username }} <b>Date: </b>{{ post.creationdate | date('M jS Y') }} at {{ post.creationdate | date('H:i:s') }}
        {% if post.title %}
            <b>Subject: </b>{{ post.title|raw }}
        {% endif %}
        <br />
        {% if post.image %}
            <img src="{{ getCDNResource({
                'media_path': asset(post.image)
            }) }}" style="max-height: 80px; max-width: 200px;" />
            <br />
        {% endif %}
        {{ post.body|raw }}
    </div>
</div>