<tr style="">
    <th colspan="2" style="background: #333333; padding: 6px 8px;">
        <span style="font-size: .9em; color: #ffffff;">{{ item.creationdate | date('M jS Y') }} at {{ item.creationdate | date('H:i:s') }}</span>
    </td>
</tr>
<tr>
    <td style="padding: 10px 10px; background: #fafafa; font-size: .8em; width: 8%;">
        {% include '@XLabsForum/Forum/Post/post_user.html.twig' with {
            'post': item
        } %}
    </td>
    <td style="padding: 20px 20px; width: 92%; vertical-align: top;">
        {% if item.quoted %}
            {% include '@XLabsForum/Forum/Post/quoted.html.twig' with {
                'post': item.quoted
            } %}
            <br />
        {% endif %}
        {% if item.title %}
            <b>{{ item.title|raw }}</b>
            <br />
        {% endif %}
        {% if item.image %}
            {% set image = getCDNResource({
                'media_path': asset(item.image)
            }) %}
            <a href="{{ image }}" target="_blank">
                <img src="{{ image }}" style="max-height: 80px; max-width: 200px;" />
            </a>
            <br />
        {% endif %}
        {{ item.body|raw }}
    </td>
</tr>
<tr style="color: #ffffff;">
    <th colspan="2" style="background: #E6EBF2; padding: 2px 8px;">
        <a class="button _new_quote" href="{{ path('xlabs_forum_new_quote', { 'post_id': item.id }) }}" style="float: right;"><i class="fas fa-quote-right"></i>Quote</a>
    </th>
</tr>