{#
<tr style="">
    <th colspan="2" style="background: #333333; padding: 6px 8px;">
        <span style="font-size: .9em; color: #ffffff;">{{ item.creationdate | date('M jS Y') }} at {{ item.creationdate | date('H:i:s') }}</span>
    </th>
</tr>
#}
<tr style="border-top: 1px solid #839EAA;">
    <td style="padding: 10px 10px; /*background: #E8F4FE;*/ font-size: .8em; width: 8%;">
        {% include '@XLabsForum/Forum/Post/post_user.html.twig' with {
            'post': item
        } %}
    </td>
    <td style="padding: 20px 20px; width: 92%; vertical-align: top; position: relative;">
        {% if item.title %}
            <b>{{ item.title|raw }}</b>
            <br />
            <br />
        {% endif %}
        {% if item.image %}
            {% set image = getCDNResource({
                'media_path': asset(item.image)
            }) %}
            <a href="{{ image }}" target="_blank">
                <img src="{{ image }}" style="max-height: 80px; max-width: 200px;" />
            </a>
            <br />
        {% endif %}
        {{ item.body|raw }}
        <div style="float: none; clear: both; height: 40px;"></div>
        <div style="">
            <span style="color: #969696; font-size: .8em;">
                {{ item.author.username }}, {{ item.creationdate | date('M jS Y') }} at {{ item.creationdate | date('H:i:s') }}
            </span>
        </div>
        <div style="position: absolute; right: 10px; bottom: 10px;">
            <a class="button _new_quote" href="{{ path('xlabs_forum_new_quote', { 'post_id': item.id }) }}" style="float: right; font-size: .9em;"><i class="fas fa-quote-right"></i>Quote</a>
            <a class="button _new_reply" href="{{ path('xlabs_forum_new_reply', { 'thread_id': item.id }) }}" style="float: right; font-size: .9em;"><i class="fas fa-reply"></i>Post Reply</a>
        </div>
    </td>
</tr>
{#
<tr style="color: #ffffff;">
    <th colspan="2" style="background: none; padding: 2px 8px;">
        <a class="button _new_quote" href="{{ path('xlabs_forum_new_quote', { 'post_id': item.id }) }}" style="float: right;"><i class="fas fa-quote-right"></i>Quote</a>
        <a class="button _new_reply" href="{{ path('xlabs_forum_new_reply', { 'thread_id': item.id }) }}" style="float: right;"><i class="fas fa-reply"></i>Post Reply</a>
    </th>
</tr>
#}