<tr>
    <td style="vertical-align: middle; text-align: center;">
        {#<img src="{{ getCDNResource({
            'media_path': asset('bundles/xlabsforum/images/conversation.png')
        })  }}" style="max-height: 50px;" />
        #}
        <i class="fas fa-scroll" style="font-size: 2.0em; color: #d1d1d1;"></i>
    </td>
    <td>
        <a href="{{ path('xlabs_forum_thread_index', { 'thread_id': item.id }) }}">
            {% if item.image %}
                <div style="float: left; margin: 10px 10px;">
                    <img src="{{ getCDNResource({
                        'media_path': asset(item.image)
                    })  }}" style="max-height: 70px;" />
                    <br />
                </div>
            {% endif %}
            <div style="float: left; margin: 10px 10px;">
                {{ item.title|raw }}
                <br />
                {{ item.body|raw }}
            </div>
        </a>
    </td>
    <td>
        <div class="_xlabs_forum_author">
            <div class="_avatar">
                <img src="{{ item.author.avatar ? getCDNResource({
                    'media_path': asset(item.author.avatar)
                }) : asset('bundles/xlabsforum/images/default_image.png') }}" />
            </div>
            <span class="_username">
                {{ item.author.username }}
            </span>
            <div class="_info">
                {{ item.creationdate_human }}
            </div>
        </div>
        {#
        <span style="float: left;">
            <img src="{{ item.author.avatar ? getCDNResource({
                'media_path': asset(item.author.avatar)
            }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 50px; border-radius: 50%;" />
        </span>
        <span style="float: left; margin-left: 10px;">
            {{ item.author.username }}<br />{{ item.creationdate_human }}:
        </span>
        #}
    </td>
    <td>
        {{ item.total_replies }}
    </td>
    <td>
        {# views count not working atm #}
    </td>
    <td>
        {% if item.last_reply_creationdate %}
            {{ item.last_reply_creationdate | date('M jS Y') }} at {{ item.last_reply_creationdate | date('H:i:s') }}
        {% else %}
            -
        {% endif %}
    </td>
</tr>