{% extends '@XLabsForum/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ._request_topic_form {display: none;}
    </style>
{% endblock stylesheets %}

{% block xlabs_forum_content %}
    {# Topics #}
    <div class="">
        <h2 class="">
            Latest topics
        </h2>
        <div style="width: 100%; text-align: center;">
            <a class="button _request_topic">Request a topic</a>
        </div>

        <div class="_request_topic_form">
            {{ render(controller('XLabsForumBundle:Forum:requestTopic')) }}
            <script>
                $(document).ready(function(){
                    $('body').on('submit', 'form[name="xlabs_forumbundle_topictype"]', function(e){
                        e.preventDefault();
                        let form = $(this);
                        $('body').preloader({
                            background: 'rgba(0, 0, 0, .6)',
                            color: '#ffffff',
                            text: 'Sending request'
                        }).show();
                        $('body').css({
                            'overflow': 'hidden'
                        });
                        $.ajax({
                            url: form.attr('action'),
                            type: 'POST',
                            data: new FormData(this),
                            contentType: false,
                            cache: false,
                            processData:false,
                            success: function(response)
                            {
                                $('._request_topic_form').html(response);
                                $('body').preloader().destroy();
                                $('body').css({
                                    'overflow': ''
                                });
                            },
                            error: function(e) {
                                $('body').preloader().destroy();
                                $('body').css({
                                    'overflow': ''
                                });
                            }
                        });
                    });
                });
            </script>
        </div>
        <script>
            $('._request_topic').on('click', function(e){
                e.preventDefault();
                $('body').css({
                    'overflow': 'hidden'
                });
                $('._xlabs_forum_overlay').show();
                $('._request_topic_form').show();
            });
            $('body').on('click', '#xlabs_forumbundle_topictype_cancel', function(e){
                e.preventDefault();
                $('body').css({
                    'overflow': ''
                });
                $('._xlabs_forum_overlay').hide();
                $('._request_topic_form').hide();
            });
        </script>

        {% include '@XLabsForum/ContentBlock/block.html.twig' with {
            'aParams': {
                'contentType': 'topics',
                'renderMode': 'table',
                'tableHeaders': ['', 'topic', 'author', '', 'last post'],
                'tableWidths': ['3%', '42%', '15%', '15%', '25%'],
                'category_ids': false,
                'allow_duplicates_in_same_master_request': true,
                'sorting': 'last_update',
                'max_results': false,
                'page': app.request.get('page') ? app.request.get('page') : 1,
                'aStatus': [
                    constant('XLabs\\ForumBundle\\Entity\\Topic::STATUS_APPROVED')
                ],
                'creation_date_limit': {
                    'min': false,
                    'max': false
                },
                'ajax_pagination': false,
                'show_hidden': false,
                'show_approved_only': true,
                'item_template': '@XLabsForum/Forum/Topic/item.html.twig'
            }
        } %}
    </div>
{% endblock xlabs_forum_content %}