{% extends '@XLabsForum/layout.html.twig' %}

{# For the macro at the bottom of the page #}
{% import _self as renderArea %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ._new_reply_form {display: none;}
    </style>
{% endblock stylesheets %}

{% block xlabs_forum_content %}
    {# Thread #}
    <div class="">
        <h2 class="">
            Thread
        </h2>
        {% include '@XLabsForum/ContentBlock/block.html.twig' with {
            'aParams': {
                'contentType': 'posts',
                'renderMode': 'table',
                'ids_collection': [thread.id],
                'allow_duplicates_in_same_master_request': true,
                'sorting': 'id',
                'max_results': 1,
                'page': 1,
                'aStatus': [
                    constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED')
                ],
                'publish_date_limit': {
                    'min': false,
                    'max': false
                },
                'creation_date_limit': {
                    'min': false,
                    'max': false
                },
                'threads_only': true,
                'show_pagination': true,
                'show_hidden': false,
                'item_template': '@XLabsForum/Forum/Post/post.html.twig'
            }
        } %}

        <div class="_new_post_form"></div>
        {#
        <br />
        {{ renderArea.renderButtons(thread) }}
        #}

        {# Replies #}
        {#
        <h2 class="">
            Replies
        </h2>
        #}
        {% include '@XLabsForum/ContentBlock/block.html.twig' with {
            'aParams': {
                'contentType': 'posts',
                'renderMode': 'table',
                'allow_duplicates_in_same_master_request': true,
                'thread_ids': [thread.id],
                'sorting': 'id_asc',
                'max_results': 8,
                'page': app.request.get('page') ? app.request.get('page') : 1,
                'aStatus': [
                    constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED')
                ],
                'publish_date_limit': {
                    'min': false,
                    'max': false
                },
                'creation_date_limit': {
                    'min': false,
                    'max': false
                },
                'replies_only': true,
                'show_pagination': true,
                'double_pagination': false,
                'show_hidden': false,
                'show_approved_only': true,
                'item_template': '@XLabsForum/Forum/Post/post.html.twig'
            }
        } %}

        <br />
        <table class="_table" style=" width: 100%;">
            <tr style="color: #ffffff;">
                <th style="background: #E6EBF2; padding: 2px 8px;">
                    <a class="button _new_reply" href="{{ path('xlabs_forum_new_reply', { 'thread_id': thread.id }) }}" style="float: right;"><i class="fas fa-reply"></i>Post Reply</a>
                </th>
            </tr>
        </table>

        <br />
        {{ renderArea.renderButtons(thread) }}
    </div>

    <script>
        $(document).ready(function(){
            // Reply
            $('body').on('click', '._new_reply', function(e){
                e.preventDefault();
                let but = $(this);
                $.ajax({
                    url: but.attr('href'),
                    type: 'GET',
                    success: function(response)
                    {
                        $('._new_post_form').html(response).show();
                        $([document.documentElement, document.body]).animate({
                            scrollTop: $('._new_post_form').offset().top
                        }, 400);
                        $('body').css({
                            'overflow': 'hidden'
                        });
                        $('._xlabs_forum_overlay').show();
                    },
                    error: function(e) {}
                });
            });

            // Quote
            $('body').on('click', '._new_quote', function(e){
                e.preventDefault();
                let but = $(this);
                $.ajax({
                    url: but.attr('href'),
                    type: 'GET',
                    success: function(response)
                    {
                        $('._new_post_form').html(response).show();
                        $([document.documentElement, document.body]).animate({
                            scrollTop: $('._new_post_form').offset().top
                        }, 400);
                        $('body').css({
                            'overflow': 'hidden'
                        });
                        $('._xlabs_forum_overlay').show();
                    },
                    error: function(e) {}
                });
            });

            // Submit reply/quote
            $('body').on('submit', 'form[name="xlabs_forumbundle_posttype"]', function(e){
                e.preventDefault();
                let form = $(this);
                $('body').preloader({
                    background: 'rgba(0, 0, 0, .6)',
                    color: '#ffffff',
                    text: 'Sending request'
                }).show();
                $('body').css({
                    'overflow': 'hidden'
                });
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(response)
                    {
                        form.closest('._new_post_form').html(response);
                        $('body').preloader().destroy();
                        $('body').css({
                            'overflow': ''
                        });
                    },
                    error: function(e) {
                        $('body').preloader().destroy();
                        $('body').css({
                            'overflow': ''
                        });
                    }
                });
            });

            // Cancel reply/quote
            $('body').on('click', '#xlabs_forumbundle_posttype_cancel', function(e){
                e.preventDefault();
                let but = $(this);
                but.closest('._new_post_form').html('').hide();
                $('body').css({
                    'overflow': ''
                });
                $('._xlabs_forum_overlay').hide();
            });
        });
    </script>
{% endblock xlabs_forum_content %}

{% macro renderButtons(thread) %}
    <div style="width: 100%; text-align: center; margin-bottom: 30px;">
        <a class="button" href="{{ path('xlabs_forum_topic_index', { 'topic_id': thread.topic.id }) }}">Back to topic</a>
        <a class="button" href="{{ path('xlabs_forum_index') }}">Back to topics</a>
    </div>
{% endmacro %}