{% extends '@XLabsForum/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ._new_thread_form {display: none;}
    </style>
{% endblock stylesheets %}

{% block xlabs_forum_content %}
    {# Topics #}
    <div class="">
        <h2 class="">
            Threads
        </h2>
        <div style="width: 100%; text-align: center;">
            <a class="button _new_thread">New thread</a>
        </div>

        <div class="_new_thread_form">
            {{ render(controller('XLabsForumBundle:Forum:newThread', {
                'topic_id': topic.id
            })) }}
        </div>

        {% include '@XLabsForum/ContentBlock/block.html.twig' with {
            'aParams': {
                'contentType': 'posts',
                'renderMode': 'table',
                'tableHeaders': ['', 'thread', 'started by', 'replies', '', 'last reply'],
                'tableWidths': ['3%', '47%', '20%', '10%', '0%', '20%'],
                'topic_ids': [topic.id],
                'allow_duplicates_in_same_master_request': true,
                'sorting': 'thread_last_update',
                'max_results': 8,
                'page': app.request.get('page') ? app.request.get('page') : 1,
                'aStatus': [
                    constant('XLabs\\ForumBundle\\Entity\\Post::STATUS_APPROVED')
                ],
                'creation_date_limit': {
                    'min': false,
                    'max': false
                },
                'threads_only': true,
                'ajax_pagination': false,
                'show_hidden': false,
                'show_approved_only': true,
                'item_template': '@XLabsForum/Forum/Post/thread_item.html.twig'
            }
        } %}

        <br />
        <div style="width: 100%; text-align: center; margin-bottom: 30px;">
            <a class="button" href="{{ path('xlabs_forum_index') }}">Back to topics</a>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('body').on('submit', 'form[name="xlabs_forumbundle_posttype"]', function(e){
                e.preventDefault();
                let form = $(this);
                $('body').preloader({
                    background: 'rgba(0, 0, 0, .6)',
                    color: '#ffffff',
                    text: 'Sending request'
                }).show();
                $('body').css({
                    'overflow': 'hidden'
                });
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData:false,
                    success: function(response)
                    {
                        $('._new_thread_form').html(response);
                        $('body').preloader().destroy();
                        $('body').css({
                            'overflow': ''
                        });
                    },
                    error: function(e) {
                        $('body').preloader().destroy();
                        $('body').css({
                            'overflow': ''
                        });
                    }
                });
            });
        });

        $('._new_thread').on('click', function(e){
            e.preventDefault();
            $('body').css({
                'overflow': 'hidden'
            });
            $('._xlabs_forum_overlay').show();
            $('._new_thread_form').show();
        });
        $('body').on('click', '#xlabs_forumbundle_posttype_cancel', function(e){
            e.preventDefault();
            $('body').css({
                'overflow': ''
            });
            $('._xlabs_forum_overlay').hide();
            $('._new_thread_form').hide();
        });
    </script>
{% endblock xlabs_forum_content %}