/* Tabs */
.tab {overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1;}
.tab button {background-color: inherit; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; transition: 0.3s;}
.tab button:hover {background-color: #ddd;}
.tab button.active {background-color: #ccc;}
.tabcontent {display: none; padding: 15px 2px; border: 1px solid #ccc; border-top: none; text-align: center;}
.tabcontent {animation: fadeEffect 1s;}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Tables */
body {font-family: Lato,Arial,sans-serif!important;}
._xlabs_results_wrapper {display: block; overflow: hidden; margin-top: 15px; float: none; clear: both;}
._xlabs_results_wrapper ._xlabs_results ._table {width: 100%; border: 0px solid #d0d0d0; border-collapse: collapse; border-spacing: 0;}
._xlabs_results_wrapper ._xlabs_results ._table th {background: #333333; color: #e0e0e0; padding: 8px 8px; text-align: left; font-size: .9em;}
._xlabs_results_wrapper ._xlabs_results ._table tr:nth-child(odd) {background: #ffffff;}
._xlabs_results_wrapper ._xlabs_results ._table tr:nth-child(even) {background: #fafafa;}
._xlabs_results_wrapper ._xlabs_results ._table td {color: #333333; text-align: left; font-size: .8em; height: 80px; padding: 10px 8px;}
._xlabs_results_wrapper ._xlabs_results ._table td a i.fa-edit {color: #333333; font-size: 1.4em;}
._xlabs_results_wrapper ._xlabs_results ._table td a i.fa-times {color: #FA3E3E; font-size: 1.8em; margin-left: 10px;}
._xlabs_results_wrapper ._xlabs_results ._table td a i.fa-eye {color: #333333; font-size: 1.5em; margin-left: 10px;}
._xlabs_results_wrapper ._xlabs_results ._table .center {text-align: center;}

/* Pagination */
._xlabs_results_wrapper ._xlabs_results ._pagination {width: 100%; text-align: center; float: none; clear: both; margin: 30px 0;}
._xlabs_results_wrapper ._xlabs_results ._pagination .left, ._xlabs_results_wrapper ._xlabs_results ._pagination .right, ._xlabs_results_wrapper ._xlabs_results ._pagination .center {display: inline-block; float: none; position: relative}
._xlabs_results_wrapper ._xlabs_results ._pagination a {float: none; display: inline-block; padding: 0; width: 45px; height: 45px; font: 17px/45px "QuicksandBold", "Open Sans Bold", sans-serif; position: relative; text-transform: capitalize; margin: 0 1px 0 0; background: rgba(157, 177, 186, .1) linear-gradient(rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, .5) 100%); border: 1px solid #f0f0f0; border-radius: 5px; box-shadow: none;}
._xlabs_results_wrapper ._xlabs_results ._pagination a i {float: none; display: inline-block; margin: 0 -2.5px; background: none !important;}
._xlabs_results_wrapper ._xlabs_results ._pagination a:hover, ._xlabs_results_wrapper ._xlabs_results ._pagination .paginationArea a.highlight {color: #e0e0e0; background: #333333;}

/* Search */
.tabcontent ._search_wrapper {float: right; margin: 0 20px;}
.tabcontent ._search_wrapper fieldset {font-size: .8em; border: 1px solid #E1E1E1;}
.tabcontent ._search_wrapper i {color: #d1d1d1; margin-right: 8px;}
.tabcontent ._search_wrapper ._search_terms, .tabcontent ._search_wrapper ._search_terms_author {text-align: center; border: 1px solid #c1c1c1; height: 30px;}
.tabcontent ._search_wrapper ._search_terms::placeholder {color: #b0b0b0; opacity: 1;}

/* General */
a {text-decoration: none; color: #333333;}
a i.fa, a i.fas, a i.far, button i.fa, button i.fas, button i.far {margin-right: 8px;}
._noContent {width: 100%; text-align: center;}

/* Forms */
form {/*background: #F6F7FC;*/}
form label, form input[type="text"] {margin: 10px 10px; display: inline-block;}
form input[type="text"] {border: 1px solid #dedede; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); border-radius: 4px; height: 30px; background: #fff; padding: 0 6px; width: 450px; color: #777777;}
form ._single_image_upload_preview_wrapper {width: 300px; text-align: center; margin: 15px auto 0; position: relative;}
form ._single_image_upload_preview_wrapper ._single_image_upload_preview {max-width: 300px; max-height: 200px; margin: 0 auto; display: block; border: 1px dashed #DBE2EC; border-radius: 4px;}
form ._single_image_upload_delete {position: absolute; top: 3px; right: 12px; color: #ffffff; border-color: #657786;}
form ._single_image_upload_delete i {font-size: 2.2em; text-shadow: 0 0 5px rgba(0,0,0,.5);}
form ._single_image_upload_buttons_wrapper {width: 100%; text-align: center; margin: 6px auto;}
form ._single_image_upload_buttons_wrapper a {margin: 0 4px;}
form ._form_but {/*float: left;*/ margin: 20px 40px;}
form ._form_but._form_but_save {float: left; margin-left: 200px;}
form ._form_but._form_but_cancel {float: right; margin-right: 200px;}
form textarea {resize: none; width: 500px; height: 180px; border: 1px solid #dedede; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); border-radius: 4px; white-space: pre-wrap;}
form input[readonly] {border: none;}
form .content-invalid {border: 1px solid #FA3E3E;}

/* Frontend */
/*._xlabs_forum_post_user {background: #c2dac7 linear-gradient(rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, .5) 100%); border: 1px solid #92baa7; border-radius: 5px; box-shadow: 0 0 7px #92baa7; position: relative;}
._xlabs_forum_post_user ._avatar {background-color: #f2faf7; padding: 10px; border-radius: 4px; position: relative; text-align: center;}
._xlabs_forum_post_user ._username {display: block; padding: 6px;}
._xlabs_forum_post_user ._info {font-size: 10px; background-color: #f2faf7; padding: 4px 6px; border-radius: 4px;}
._xlabs_forum_post_user ._info dl {margin: 2px 0 0; overflow: hidden; line-height: 1.5;}
._xlabs_forum_post_user ._info dl dt {float: left; margin-right: 5px; color: rgb(150,150,150);}
._xlabs_forum_post_user ._info dl dd {float: right; margin: 0;}
._xlabs_forum_post_user ._arrow {position: absolute; top: 10px; right: -10px; display: block; width: 0px; height: 0px; line-height: 0px; border: 10px solid transparent; border-left-color: #92baa7; border-right: none;}*/
._xlabs_forum_post_user {background: rgba(157, 177, 186, .4) linear-gradient(rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, .5) 100%); border: 1px solid rgba(131, 158, 170, .2); border-radius: 5px; box-shadow: 0 0 7px #C3C8CC; position: relative;}
._xlabs_forum_post_user ._avatar {background-color: #ffffff; padding: 10px; border-radius: 4px; position: relative; text-align: center;}
._xlabs_forum_post_user ._avatar img {max-height: 75px; border-radius: 50%; background-color: rgb(252, 255, 252); padding: 2px; border: 1px solid #92baa7;}
._xlabs_forum_post_user ._username {display: block; padding: 6px; text-align: center;}
._xlabs_forum_post_user ._info {font-size: 10px; background-color: #ffffff; padding: 4px 6px; border-radius: 4px;}
._xlabs_forum_post_user ._info dl {margin: 2px 0 0; overflow: hidden; line-height: 1.5;}
._xlabs_forum_post_user ._info dl dt {float: left; margin-right: 5px; color: rgb(150,150,150);}
._xlabs_forum_post_user ._info dl dd {float: right; margin: 0;}
._xlabs_forum_post_user ._arrow {position: absolute; top: 10px; right: -10px; display: block; width: 0; height: 0; line-height: 0; border: 10px solid transparent; border-left-color: rgba(131, 158, 170, .5); border-right: none;}


._xlabs_forum_author {background: rgba(157, 177, 186, .1) linear-gradient(rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, .5) 100%); border: 1px solid #f0f0f0; border-radius: 5px; box-shadow: none; position: relative; width: 150px;}
._xlabs_forum_author ._avatar {background-color: #ffffff; padding: 10px; border-radius: 4px; position: relative; text-align: center;}
._xlabs_forum_author ._avatar img {max-height: 75px; border-radius: 50%; background-color: rgb(252, 255, 252); padding: 2px; border: 1px solid #92baa7;}
._xlabs_forum_author ._username {display: block; padding: 6px; text-align: center;}
._xlabs_forum_author ._info {font-size: 10px; background-color: #ffffff; padding: 4px 6px; border-radius: 4px; text-align: center;}

._xlabs_forum_body {background: /*rgba(157, 177, 186, .1) linear-gradient(rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, .5) 100%)*/none; border: 1px solid rgba(131, 158, 170, .2); border-radius: 5px; box-shadow: 0 0 7px #C3C8CC; position: relative; padding: 10px 10px;}

._xlabs_forum_overlay {z-index: 100; background: rgba(157, 177, 186, .4); position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: none;}
._xlabs_forum_form {background: /*rgba(157, 177, 186, .1) linear-gradient(rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, .5) 100%)*/#ffffff; border: 1px solid rgba(131, 158, 170, .2); border-radius: 5px; box-shadow: 0 0 7px #C3C8CC; position: relative; padding: 10px 10px; font-size: .9em; z-index: 200; width: 700px; margin: 0 auto; overflow: hidden;}