{% form_theme form '@XLabsForum/Forum/Topic/form_controls.html.twig' %}

<div class="_xlabs_forum_form">
    <h3>Request a topic</h3>
    <div style="overflow: hidden;">
        <span style="color: #FA3E3E;">{{ form_errors(form) }}</span>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>