<tr>
    <td style="vertical-align: middle; text-align: center;">
        {#<img src="{{ getCDNResource({
            'media_path': asset('bundles/xlabsforum/images/conversation.png')
        })  }}" style="max-height: 50px;" />
        #}
        <i class="far fa-comments" style="font-size: 3.0em; color: #d1d1d1;"></i>
    </td>
    <td>
        <a href="{{ path('xlabs_forum_topic_index', { 'topic_id': item.id }) }}">
            {% if item.cover %}
                <div style="float: left; margin: 10px 10px;">
                    <img src="{{ getCDNResource({
                        'media_path': asset(item.cover)
                    })  }}" style="max-height: 70px;" />
                    <br />
                </div>
            {% endif %}
            <div style="float: left; margin: 10px 10px;">
                {{ item.title|raw }}
                <br />
                {{ item.body|raw }}
            </div>
        </a>
    </td>
    <td>
        <div class="_xlabs_forum_author">
            <div class="_avatar">
                <img src="{{ item.author.avatar ? getCDNResource({
                    'media_path': asset(item.author.avatar)
                }) : asset('bundles/xlabsforum/images/default_image.png') }}" />
            </div>
            <span class="_username">
                {{ item.author.username }}
            </span>
            <div class="_info">
                {{ item.creationdate_human }}
            </div>
        </div>
        {#
        <span style="float: left;">
            <img src="{{ item.author.avatar ? getCDNResource({
                'media_path': asset(item.author.avatar)
            }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 50px; border-radius: 50%;" />
        </span>
        <span style="float: left; margin-left: 10px;">
            {{ item.author.username }}
            <br />
            {{ item.creationdate_human }}
        </span>
        #}
    </td>
    <td>
        {{ item.total_threads }} threads
        <br />
        {{ item.total_replies }} replies
    </td>
    <td>
        {% if item.last_post is defined %}
            <div class="_xlabs_forum_author">
                <div class="_avatar">
                    <img src="{{ item.last_post.author.avatar ? getCDNResource({
                        'media_path': asset(item.last_post.author.avatar)
                    }) : asset('bundles/xlabsforum/images/default_image.png') }}" />
                </div>
                <span class="_username">
                {{ item.last_post.author.username }}
            </span>
                <div class="_info">
                    {{ item.last_post.publishdate_human }}
                </div>
            </div>
            {#
            <span style="float: left;">
                <img src="{{ item.last_post.author.avatar ? getCDNResource({
                    'media_path': asset(item.last_post.author.avatar)
                }) : asset('bundles/xlabsforum/images/default_image.png') }}" style="max-height: 50px; border-radius: 50%;" />
            </span>
                <span style="float: left; margin-left: 10px;">
                    {{ item.last_post.author.username }}
                    <br />
                    {{ item.last_post.publishdate_human }}
                </span>
            #}
        {% else %}
            &nbsp;-
        {% endif %}
    </td>
</tr>